

<template>
    <div class="<%= data.lowerName  %>">
        <h1>{{ msg }}</h1>
    </div>
</template>

<script>
    export default {
        name: '<%= data.name  %>',
        data:function(){
            return{
                message:'<% data.name  %>'
            }
        },
        props: {
            msg: String
        },
        components:{

        },
        mixins:[],
        created:{

        },
        mounted:{

        },
        methods:{

        },
    }
</script>

<style scoped>
    .<%= data.lowerName  %>

</style>
